.el-header {
  margin-top: -60px;
}

.navMenu {
  float: right;
}

* {
  padding: 0px;
  margin: 0px;
}

html, body {
 /* height: 100%;*/
  width: 100%;
  /*background-image: url("../assets/imgs/6.png");
  background-repeat: no-repeat;
  background-size: cover;*/
}
